<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>BundleProgram</key>
    <string>Contents/Helpers/MacCompanionAgent.app/Contents/MacOS/MacCompanionAgent</string>
    <key>KeepAlive</key>
    <true/>
    <key>Label</key>
    <string>media.jenny.maccompanion.agent</string>
    <key>MachServices</key>
    <dict>
        <key>media.jenny.maccompanion.agent</key>
        <true/>
    </dict>
    <key>RunAtLoad</key>
    <true/>
</dict>
</plist>
